<h1>User info</h1>

<div>
  <% if user.present? %>
  <% if user.profile_image.attached? %>
    <%= image_tag user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  <% end %>
</div>

<div>
<table class="table">
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
</div>

<%= link_to edit_user_path(user) do %>
  <button type="button" class="btn btn-outline-secondary btn-block"><i class="fa-solid fa-user-gear"></i>
  </button>
<% end %>