<%= render 'users/info', user: @user %>

<%= render 'new', book: @book %>

<h1>Books</h1>
<% @books.each do |book| %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= image_tag book.user.get_profile_image(100,100) %></th>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
</table>
<% end %>